<template>
  <div class="userForm">
    <div class="row">
      <label>First Name</label>
      <input name="firstName" v-model="user.firstName" />
    </div>
    <div class="row">
      <label>Last Name</label>
      <input name="lastName" v-model="user.lastName" />
    </div>
    <div class="row">
      <label>Delivery Address</label>
      <input name="deliveryAddress" v-model="user.deliveryAddress" />
    </div>
    <div class="row">
      <label>Billing Address</label>
      <input name="billingAddress" v-model="user.billingAddress" />
    </div>
    <button @click="updateUser(user)">Submit</button>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Emit, Prop, Watch } from 'vue-property-decorator';
import { User } from '../user';
import { userService } from '../user.service';

@Component({})
export default class UserDetail extends Vue {
  user = {};
  
  created() {
    this.getUser();
  }

  getUser() {
    this.user = {};
    return userService.getUser(this.$route.params.id).then(response => (this.user = response.data));
  }

  updateUser(user: User) {
    userService.updateUser(user).then(() => {
      this.$router.back();
    });
  }
}
</script>

<style scoped>
  .userForm {
    max-width: 400px;
    margin: 0 auto;
  }
  .row {
    display: flex;
    margin-bottom: 15px;
    flex-direction: column;
    align-items: flex-start;
  }
  label {
    font-weight: bold;
  }
  input {
    width: 100%;
    height: 24px;
    padding: 5px 10px;
    font-size: 0.9rem;
  }
  button {
    padding: 10px 0;
    width: 150px;
    border-radius: 0;
    background-color: #42b983;
    color: white;
    font-size: 1rem;
  }
</style>