<template>
  <ul>
    <li v-for="user in users" :key="user.id">
      {{user.firstName}} {{user.lastName}}
      <router-link :to="{ name: 'user', params: { id: user.id }}">Edit</router-link>
    </li>
  </ul>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { User } from '../user';
import { userService } from '../user.service';

@Component
export default class UserList extends Vue {
  users: User[] = [];

  created() {
    this.getUsers();
  }

  getUsers() {
    this.users = [];
    return userService.getUsers().then(response => (this.users = response.data));
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
ul {
  max-width: 400px;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}
li {
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
}
a {
  color: #42b983;
}
</style>
