<template>
  <div class="home">
    <h1>My Contacts</h1>
    <user-list/>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import UserList from '../user/components/UserList.vue';

@Component({
  components: {
    UserList,
  },
})

export default class Home extends Vue {}
</script>
