<template>
  <div class="home">
    <h1>Edit User</h1>
    <user-detail />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import UserDetail from '../user/components/UserDetail.vue';

@Component({
  components: {
    UserDetail,
  },
})

export default class Home extends Vue {}
</script>